.light-theme {
    background-color: white;
    color: black;
    .accent-color {
        color:purple;
    }
}

.dark-theme {
    background-color: black;
    color: white;
    .accent-color {
        color:yellow;
    }   
}

.desert-theme {
    background-color: rgb(230, 168, 87);
    color: black;  
    .accent-color {
        color: red;
    } 
}

.glacier-theme {
    background-color: rgb(87, 158, 230);
    color: white; 
    .accent-color {
        color: greenyellow;
    }
}