.light-theme {
  background-color: white;
  color: black;
  .search-bar {
    background-color: rgb(244, 244, 244);
  }
}

.dark-theme {
  background-color: black;
  color: white;
  .search-bar {
    background-color: rgb(65, 65, 65);
  }
}
